[Desktop Entry]
Name=Flatpak Ext Run Temp
Exec=flatrun-host run-temp -f %U
Type=Application
Icon=io.github.ryanabx.flatpak-ext
Categories=Utility;
NoDisplay=true
GenericName=Application Launcher

MimeType=application/vnd.flatpak;