[Desktop Entry]
Name=Flatrun
Exec=flatpak-host-launch flatrun -f %U
Type=Application
Icon=io.github.ryanabx.flatrun
Categories=Utility;
NoDisplay=true
GenericName=Application Launcher

MimeType=application/vnd.flatpak;