[Desktop Entry]
Name=Flatrun
Exec=flatrun --gui %U
Type=Application
Icon=io.github.ryanabx.flatrun
Categories=Flatpak;Launcher;Utility;
NoDisplay=false
GenericName=Application Launcher

MimeType=application/vnd.flatpak;