[Desktop Entry]
Name=Flatrun
Exec=flatrun run path %U
Type=Application
Icon=io.github.ryanabx.flatrun
Categories=Flatpak
NoDisplay=true

MimeType=application/vnd.flatpak;