[Desktop Entry]
Name=Portapak
Exec=portapak run path %U
Type=Application
Icon=io.github.ryanabx.portapak
Categories=Flatpak
NoDisplay=true

MimeType=application/vnd.flatpak;