[Desktop Entry]
Name=Flatrun
Exec=flatrun --gui bundle %U
Type=Application
Icon=io.github.ryanabx.flatrun
Categories=Flatpak;Launcher;Utility;
NoDisplay=true
GenericName=Application Launcher

MimeType=application/vnd.flatpak;